/*
Main Colors
Brand color:         #009688;
Lighter brand color: #00b3a1;
Hover color:         #00e6cf;
/*

/* 
====================
Shared Styles
====================
*/
html{
  position: relative;
    min-height: 100%;

  body{
    margin: 0 0 100px 0;
  }
  img{
    max-width: 100%;
  }
  h1, p, h3{
  text-align: center;
 }
}

#logo{
  position: relative;
  max-width: 75%;
  margin: 0rem auto -10rem;
}
 
#nav{
  ul li {
    display: inline;
    margin: 0 20px 0 0;
  } 
  a, i, p{
    color:white;
  }
  a{
    text-decoration: none;
  }
}


#tabs {
  max-width: 50%;
  margin-left:15%;

  ul{
    list-style-type: none;
  }
  li{
    display:inline;
  }
  a{
    color:white;
  }
}

 /* 
====================
Media Queries for Shared Styles
====================
*/
/* Larger than mobile */
@media (max-width: 400px) {
  #tabs{
    max-width: 100%
  }
  #login-section{
    margin-top: 30%
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (max-width: 750px) {
  #login-section{
    margin-top:10%;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}

/* 
====================
Header + footer Shared
====================
*/
 #navbar, #footer{
  background-color: #009688;
  padding-top: 2.5%;
  color:white;

  .title{
    margin-top: 5%;
  }
}
/* 
====================
Top of Index
====================
*/
#top{
  padding-top: 5%;
  padding-bottom: 2.5%;

  #primary-left{
  padding-top:10%;
 }
}
/* 
====================
Bottom of Index
====================
*/
#bottom{
  padding-bottom: 2.5%;
  padding-top: 2.5%;

 h3{
  padding-top: 2.5%;
  }
}
/* 
====================
Footer
====================
*/
#footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  #date{
  font-size: 15px;
  }
  p{
  text-align: left;
  }
}
 /* 
====================
Awesome Icons
====================
*/
.fa{
  font-size: 25px;
}

#icon:hover{
 color:#00e6cf;
}

 /* 
====================
Signup Login Form
====================
*/
.signup, .register{
  padding-top:5%;

#login-button, #register-button {
  color: white;
}
.tab-header ul{
    list-style-type:none;

    li {
    color:white;
    display: inline;
    }
    #tab-header-login:active, .active{
      background-color:white;
    }
  }
  #loginUsername, #loginPassword, #registerUsername, 
  #registerPassword, #registerEmail {
  color: #009688;
  }
}
 


